#carousel_grupos {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    overflow: scroll;
    overflow-y: scroll;
    padding: 0px;
    padding: 7%;
    padding-top: 10px;
    flex-wrap: wrap;
    max-height: 630px;
}

#carousel_grupos>a {
    text-decoration: none;
    color: black;
}

.groups-header{
    h2 {
        margin-left: 20px;
    }
}

.group_grupos {
    background-color: var(--main-color);
    border: none;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    font-size: 12;
    font-weight: 900;
    height: 130px;
    width: 130px;
    display: grid;

    font-family: var(--title-font);
}

.group_grupos1 {
    //background-color: var(--main-color);
    border: none;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    font-size: 12;
    font-weight: 900;
    height: 130px;
    width: 130px;
    display: grid;
    flex: 1;
    font-family: var(--title-font);
}

.group_grupos1>p {
    font-size: 1rem;
    align-self: center;
    justify-self: center;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.groups-container{
    margin-left: 20px;
    margin-right: 20px;
}

.group_grupos>p {
    font-size: 1rem;
    align-self: center;
    justify-self: center;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}