body {
    padding: 10px;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    margin-top: 31px;
}

.groups-container {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: fit-content;

}

.groups-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12;
    font-family: var(--title-font);
}

.groups-content {
    display: flex;
    width: 100%;
}

.carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.group {
    background-color: var(--main-color);
    border: none;
    margin: 5px;
    border-radius: 15px;
    font-size: 12;
    font-weight: 900;
    font-family: var(--title-font);

    >* {
        // Add this block
        box-sizing: border-box;
        width: 150;
        height: 208px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#add-group {
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 100%;
    margin-left: -64px;

    >* {
        // Add this block
        box-sizing: border-box;
        width: fit-content;
        height: fit-content;
    }
}

/* agregar grupo*/

#popUpGroup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 1px solid var(--third-color);
    border-radius: 15px;
    z-index: 50;
    height: fit-content;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input[type="color"] {
        appearance: none;
        width: 60px;
        height: 60px;
        border: 3px solid var(--second-color);
        border-radius: 10px;

    }
}


/*agregar nota*/
#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    font-size: 50px;
    font-weight: 900;
    border: none;
    text-align: center;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    z-index: 100;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 1px solid var(--third-color);
    border-radius: 15px;
    z-index: 100;
    height: 60%;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
}

#popup div,
#popUpGroup div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#popup div button,
#popUpGroup div button {
    width: 65px;
    height: 65px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    border-radius: 15px;

}

textarea {
    border: 1px solid var(--third-color);
    border-radius: 15px;
    padding: 15px;
}

#titulo,
#tituloGroup {
    font-size: 24;
    font-weight: 900;
    border: none;
    border-bottom: 1px solid var(--third-color);
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}

#texto {
    margin: 20px 0 20px 0;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    font-size: 18;
}

.tareas-container {
    margin: 270px 0 31px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    .tarea {
        cursor: move;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        height: 11px;
        background-color: var(--main-color);
        border-radius: 15px;
        margin-bottom: 31px;
        width: 95%;

        .content-tarea {
            display: flex;
            flex-direction: column;
            padding-left: 31px;
            width: 100%;

            .titulo-tarea {
                margin: 0;
                padding: 0;
                font-size: 14;
                font-weight: 900;
                width: 100%;
            }

            .fecha-tarea {
                font-size: 10;
                margin: 0;
                padding: 0;
            }

            .text-tarea {
                font-size: 12;
                width: 100%;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
        }

        height: fit-content;

        input[type="checkbox"] {
            appearance: none;
            width: 30px;
            height: 30px;
            border: 3px solid var(--second-color);
            border-radius: 10px;

            &:checked {
                background-color: var(--third-color);
            }
        }
    }
}

.folder-button {
    margin: 5px;
    padding: 5px;
    border: none;
}


#popUpSelectGroup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border: 1px solid var(--third-color);
    border-radius: 15px;
    z-index: 100;
    height: 50%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#group-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12;
    font-family: var(--title-font);
    height: 20%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24;
        justify-self: flex-start;
        font-family: var(--title-font);
        border: none;
        background: none;
    }

    h3 {
        justify-self: flex-end;


    }

}

#group-list-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;

}

.group-button {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 900;
    font-family: var(--title-font);
    padding: 10px;
}





.hidden {
    display: none;
}