body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 31px;
}

/* Splash Screen */

.splash-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-container.fadeOut {
  opacity: 0;
}

.easy {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.easy.fadeOut {
  opacity: 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 64, 65, 0.521);
  border-radius: 15px;
  font-weight: 900;
  font-size: 4rem;
}

/* header */


header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 179;
  text-align: center;
  font-size: 37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header {
  opacity: 0;
}

.home-header.fadeIn {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.back-btn {
  background: none;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  font-size: 2rem;
}





/* home */
.groups-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.groups-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24;
}



.carousel {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.group {
  background-color: #f0f0f0;
  border: none;
  padding: 5px;
  border-radius: 15px;
  font-size: 24;
  font-weight: 900;
  height: 208px;
  width: 208px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/*floating button*/
#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  font-size: 50px;
  font-weight: 900;
  border: none;
  text-align: center;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 1px solid rgb(90, 85, 85);
  border-radius: 15px;
  z-index: 100;
  height: 80%;
  width: 65%;
}

.tareas-container {
  margin: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  overflow-y: auto;
}

.tarea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 31px;
  height: 115px;
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-bottom: 31px;
  width: 80%;
}

.content-tarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 31px;
  width: 100%;
}

.titulo-tarea {
  font-size: 24;
  font-weight: 900;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-tarea {
  font-size: 12;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}